/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    /*    line-height: 1.4;*/
}

body {
    height: 100%;
    width: 100%;
    background-color: azure;
}

.controlsContainer,
.videoArrayContainer {
    position: absolute;
    display: block;
    width: 100% !important;
}

.controlsContainer {
    position: absolute;
    height: 5%;
    width: 100%;
    background-color: beige;
    display: block;
    border: 1px solid black;
    
}
button{
        width: 5%;
    height: 100%;
/*    margin-top:1%;*/
    }

.videoArrayContainer {
    position: absolute;
    display: block;
/*    top: 100px;*/
    top: 5%;
    height: 94%;
    width: 100%;
    background-color: bisque;
}

.videoArrayContainer > videogular {
    position: relative;
    display: inline-block;
    width: 50% !important;
  height: 50%;
  background-color: red;
    margin: 0 auto;
    padding: 0;
}
video{
    width: 100%;
    height: 100%;
}